.container {
  padding-top: 40px;
}
.task-row:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.task-done {
  text-decoration: line-through;
}

#okdb-table-container {
  padding: 20px;
}
.data-grid-container .data-grid .cell {
  font-size: 13px;
  padding: 1px 4px;
  height: 22px;
  line-height: 21px;
}
.data-grid-container .data-grid .cell input {
  font-size: 13px;
}

table.data-grid tr td:first-child {
  width: 30px;
}
.data-grid-container .data-grid .cell:nth-child(2) {
  text-align:left;
}



.cursor-block {
  position: absolute;  
}
.cursor-name-container {
  position: relative;
}
.cursor-name {
  position: absolute;
  left: 16px;
  top: -10px;  
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  padding: 2px 8px;
}
.online-panel {
  padding-top: 60px;
}
.online-panel h4 {
  margin-bottom: 5px !important;
}
.online-item {
  margin-bottom: 8px;
  font-size: 14px;
}
.online-item > svg {  
  margin-right: 5px;
  margin-left: 10px;  
}